# Timeout in seconds that Limine will wait before automatically booting.
TIMEOUT=3

# The entry name that will be displayed in the boot menu.
:BrewOS
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///brewos.elf

    # Set screen resolution to 1920x1080
    FRAMEBUFFER_WIDTH=1920
    FRAMEBUFFER_HEIGHT=1080
